<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>140671194844-858g8vs6t9mke7slf8huf2cti0l400c9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.140671194844-858g8vs6t9mke7slf8huf2cti0l400c9</string>
	<key>API_KEY</key>
	<string>AIzaSyC2E4Rv3qaXvPf_NBMCFhkqwMgKGktilq0</string>
	<key>GCM_SENDER_ID</key>
	<string>140671194844</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tech.tiberon.drinks-on-me.dev</string>
	<key>PROJECT_ID</key>
	<string>drinks-on-me-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>drinks-on-me-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:140671194844:ios:3ac4a33f0d359fbbd74619</string>
	<key>DATABASE_URL</key>
	<string>https://drinks-on-me-dev.firebaseio.com</string>
</dict>
</plist>